
@using ArchitectureProject.Models.Entity

@model Portfolio

@{
    ViewBag.Title = "APortfolioUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">

            <h4 class="mb-3 header-title">Proje Güncelleme</h4>

            <form class="form-horizontal" method="post">

                @Html.HiddenFor(x => x.PortfolioID)

                <div class="row mb-3">
                    <label for="inputEmail3" class="col-4 col-xl-3 col-form-label">Başlık</label>
                    <div class="col-8 col-xl-9">
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="inputEmail3" class="col-4 col-xl-3 col-form-label">Proje Tipi</label>
                    <div class="col-8 col-xl-9">
                        @Html.TextBoxFor(x => x.ProjectType, new { @class = "form-control" })
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="inputEmail3" class="col-4 col-xl-3 col-form-label">Başlangıç Tarihi</label>
                    <div class="col-8 col-xl-9">
                        @Html.TextBoxFor(x => x.CustomerSupport, new { @class = "form-control" })
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="inputEmail3" class="col-4 col-xl-3 col-form-label">Müşteri</label>
                    <div class="col-8 col-xl-9">
                        @Html.TextBoxFor(x => x.Clients, new { @class = "form-control" })
                    </div>
                </div>


                <div class="row mb-3">
                    <label for="inputEmail3" class="col-4 col-xl-3 col-form-label">Konum</label>
                    <div class="col-8 col-xl-9">
                        @Html.TextBoxFor(x => x.Location, new { @class = "form-control" })
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="inputEmail3" class="col-4 col-xl-3 col-form-label">İçerik</label>
                    <div class="col-8 col-xl-9">
                        @Html.TextAreaFor(x => x.Content, 9, 1, new { @class = "form-control" })
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="inputEmail3" class="col-4 col-xl-3 col-form-label">Resim</label>
                    <div class="col-8 col-xl-9">
                        @Html.TextBoxFor(x => x.Image, new { @class = "form-control" })
                    </div>
                </div>

                <div class="justify-content-end row">
                    <div class="col-8 col-xl-9">
                        <button type="submit" class="btn btn-info waves-effect waves-light">Güncelle</button>
                    </div>
                </div>
            </form>

        </div>  <!-- end card-body -->
    </div>  <!-- end card -->
</div>  <!-- end col -->