
@model ArchitectureProject.Models.Entity.Team

@{
    ViewBag.Title = "AUpdateTeam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">

            <h4 class="mb-3 header-title">Takım Üyesi Güncelleme</h4>

            <form class="form-horizontal" method="post">

                @Html.HiddenFor(x => x.TeamID)

                <div class="row mb-3">
                    <label for="inputEmail3" class="col-4 col-xl-3 col-form-label">Ad Soyad</label>
                    <div class="col-8 col-xl-9">
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="inputEmail3" class="col-4 col-xl-3 col-form-label">Meslek</label>
                    <div class="col-8 col-xl-9">
                        @Html.TextBoxFor(x => x.Job, new { @class = "form-control" })
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="inputEmail3" class="col-4 col-xl-3 col-form-label">Kısa Yazı</label>
                    <div class="col-8 col-xl-9">
                        @Html.TextAreaFor(x => x.ShortContent, 5, 1, new { @class = "form-control" })
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="inputEmail3" class="col-4 col-xl-3 col-form-label">Resim</label>
                    <div class="col-8 col-xl-9">
                        @Html.TextBoxFor(x => x.Image, new { @class = "form-control" })
                    </div>
                </div>

                <div class="justify-content-end row">
                    <div class="col-8 col-xl-9">
                        <button type="submit" class="btn btn-info waves-effect waves-light">Güncelle</button>
                    </div>
                </div>
            </form>

        </div>  <!-- end card-body -->
    </div>  <!-- end card -->
</div>  <!-- end col -->