

@using ArchitectureProject.Models.Entity
@model List<DesignAgency>

<!-- start features -->
<section class="features-one section-padding-top-xl section-padding-bottom-xl">
    <div class="container">
        <div class="row">
            <div class="col-12">
                @foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-12 col-lg-7">
                            <div>
                                <h2 class="h2 body-text-two fw-700 line-height-3 text-white anim-heading-title">
                                    @item.Title
                                </h2>
                                <p class="text-white fw-500 line-height-5 mt-40 position-relative pe-0 pe-lg-5">
                                    @item.Content
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5">
                            <div class="mt-5 mt-lg-0">
                                <div class="position-relative">
                                    <img src="@item.Image" class="img-no-hover-effect features-bg-img" alt="features video background">
                                    <a href="#" class="js-video-button features-video-animation" data-video-id='Us442Oh-znE'>
                                        <img src="~/archite/architetemplate/img/playIconWhite.png" class="img-fluid features-play-icon" alt="features image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="feature-items">
                        <div class="row gy-5 gy-sm-0">
                            <div class="col-12 col-sm-4">
                                <div class="feature-one-box">
                                    <p class="brand-text fw-700 feature-one-number-top">01</p>
                                    <h5 class="h5 text-white fw-700 line-height-3">
                                        Tasarım
                                    </h5>
                                    <p class="text-white fw-500 line-height-5 mt-10 position-relative pe-0 pe-lg-5">
                                        @item.Creativity
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="feature-one-box">
                                    <p class="brand-text fw-700 feature-one-number-top">02</p>
                                    <h5 class="h5 text-white fw-700 line-height-3">
                                        Yönetim
                                    </h5>
                                    <p class="text-white fw-500 line-height-5 mt-10 position-relative pe-0 pe-lg-5">
                                        @item.Management
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="feature-one-box">
                                    <p class="brand-text fw-700 feature-one-number-top">03</p>
                                    <h5 class="h5 text-white fw-700 line-height-3">
                                        Planlama
                                    </h5>
                                    <p class="text-white fw-500 line-height-5 mt-10 position-relative pe-0 pe-lg-5">
                                        @item.SpacePlan
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- end features -->